<a href="https://colab.research.google.com/github/Francesca-Rossi/ITA_university_advisor/blob/main/GetDataFromGoogleSheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importazione librerie

In [1]:
import gspread 
import nltk
nltk.download('stopwords')
import pandas as pd
import numpy as np
import os
from oauth2client.service_account import ServiceAccountCredentials
from google.colab import drive
from nltk.corpus import stopwords
from nltk.stem.snowball import ItalianStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

#COLLEGAMENTO CON IL GOOGLE SHEET

In [2]:
scopes = ["https://spreadsheets.google.com/feeds",
                  "https://www.googleapis.com/auth/spreadsheets",
                  "https://www.googleapis.com/auth/drive",
                  "https://www.googleapis.com/auth/drive"]

In [3]:
drive.mount('/content/drive')
os.chdir("/content/drive/My Drive/Colab Notebooks/big data proj")
os.listdir()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['GoogleSheetCredentials.json']

In [4]:
cred = ServiceAccountCredentials.from_json_keyfile_name("/content/drive/My Drive/Colab Notebooks/big data proj/GoogleSheetCredentials.json", scopes)

In [5]:
gclient = gspread.authorize(cred)

In [6]:
sheet = gclient.open_by_url("https://docs.google.com/spreadsheets/d/1scMc0UlNC1pdZNow5k3pLhofcW6j4ekXyxYlNiBcueI/edit?usp=sharing")

# RECUPERO FOGLI E SALVATAGGIO IN DATAFRAME

In [7]:
students_data = sheet.worksheet('Laureando').get_all_records()
graduate_data = sheet.worksheet('Laureato').get_all_records()

In [8]:
df_students = pd.DataFrame(students_data)
#print(df_students)

In [9]:
df_graduate = pd.DataFrame(graduate_data)
#print(graduate_df)

#GESTIONE VALORI MANCANTI NELLA COLONNA UNIVERSITA'

##Studenti

###1 - Sostituzione celle vuote con valore 'Nan'

In [10]:
df_students=df_students.replace('',np.NaN)
df_students['university']=df_students['university'].replace('altro', np.NaN ) #necessario per effettuare merge tra 2 colonne
df_students.shape

(719, 89)

In [11]:
#TODO remove [fra]
df_students.isnull().sum()#codice di controllo

age                        101
gender                      90
hometown                     7
home_province                7
home_region                  9
                          ...
prev_degree_couse_class    680
expectations_class         128
expectations_no_class      586
change_why_class           681
decision_choice_class      130
Length: 89, dtype: int64

In [12]:
#TODO remove [fra]
df_students[['university', 'other_uni']].head(50) #codice di controllo

                                          university                                   other_uni
0                              Politecnico di MILANO                                         NaN
1       Universit√† degli Studi di NAPOLI Federico II                                         NaN
2         Universit√† degli Studi di ROMA La Sapienza                                         NaN
3         Universit√† degli Studi di ROMA La Sapienza                                         NaN
4                 Universit√† degli Studi di CAGLIARI                                         NaN
5                    Universit√† degli Studi di PARMA                                         NaN
6                                                NaN  Civica Scuola di Cinema "Luchino Visconti"
7                  Universit√† degli Studi di BOLOGNA                                         NaN
8                    Universit√† degli Studi di PARMA                                         NaN
9                    Universit√† degli Studi di PARMA                                         NaN
10  Universit√† degli Studi di MODENA e REGGIO EMILIA                                         NaN
11                 Universit√† degli Studi di PALERMO                                         NaN
12        Universit√† degli Studi di ROMA La Sapienza                                         NaN
13                  Universit√† degli Studi di PADOVA                                         NaN
14                  Universit√† degli Studi di GENOVA                                         NaN
15                  Universit√† degli Studi di MILANO                                         NaN
16                   Universit√† degli Studi di PARMA                                         NaN
17                Universit√† degli Studi di CAGLIARI                                         NaN
18                Universit√† degli Studi di CAGLIARI                                         NaN
19          Universit√† degli Studi di MILANO-BICOCCA                                         NaN
20           Universit√† degli Studi della BASILICATA                                         NaN
21                   Universit√† degli Studi di PARMA                                         NaN
22                 Universit√† degli Studi di BERGAMO                                         NaN
23          Universit√† degli Studi di MILANO-BICOCCA                                         NaN
24                   Universit√† degli Studi di PARMA                                         NaN
25                            Universit√† del SALENTO                                         NaN
26                 Universit√† degli Studi di SALERNO                                         NaN
27                                               NaN                                         NaN
28                                Universit√† di PISA                                         NaN
29        Universit√† degli Studi di ROMA La Sapienza                                         NaN
30                 Universit√† degli Studi di FERRARA                                         NaN
31                   Universit√† degli Studi di PARMA                                         NaN
32                 Universit√† degli Studi di FIRENZE                                         NaN
33   Universit√† Telematica Internazionale UNINETTUNO                                         NaN
34      Universit√† degli Studi di NAPOLI L'Orientale                                         NaN
35                   Universit√† degli Studi di PARMA                                         NaN
36                 Universit√† degli Studi di BOLOGNA                                         NaN
37                  Universit√† degli Studi di GENOVA                                         NaN
38                Universit√† degli Studi di CAGLIARI                                         NaN
39                  Universit√† degli Studi di GENOVA                                         NaN
40                  Universit√† degli Studi di GENOVA                                         NaN
41       Universit√† degli Studi INSUBRIA Varese-Como                                         NaN
42                   Universit√† degli Studi di PARMA                                         NaN
43                  Universit√† degli Studi di MILANO                                         NaN
44                  Universit√† degli Studi di GENOVA                                         NaN
45                   Universit√† degli Studi di PARMA                                         NaN
46        Universit√† degli Studi di ROMA La Sapienza                                         NaN
47                 Universit√† degli Studi di FIRENZE                                         NaN
48                  Universit√† degli Studi di GENOVA                                         NaN
49                            Universit√† del SALENTO                                         NaN

###2- Merge tra la colonna university e other_uni per unire i valori mancanti in university

In [13]:
df_students['university']=df_students['university'].combine_first(df_students['other_uni'])
#df_students['university'].head(50)

0                                Politecnico di MILANO
1         Universit√† degli Studi di NAPOLI Federico II
2           Universit√† degli Studi di ROMA La Sapienza
3           Universit√† degli Studi di ROMA La Sapienza
4                   Universit√† degli Studi di CAGLIARI
5                      Universit√† degli Studi di PARMA
6           Civica Scuola di Cinema "Luchino Visconti"
7                    Universit√† degli Studi di BOLOGNA
8                      Universit√† degli Studi di PARMA
9                      Universit√† degli Studi di PARMA
10    Universit√† degli Studi di MODENA e REGGIO EMILIA
11                   Universit√† degli Studi di PALERMO
12          Universit√† degli Studi di ROMA La Sapienza
13                    Universit√† degli Studi di PADOVA
14                    Universit√† degli Studi di GENOVA
15                    Universit√† degli Studi di MILANO
16                     Universit√† degli Studi di PARMA
17                  Universit√† degli Studi di CAGLIARI
18                  Universit√† degli Studi di CAGLIARI
19            Universit√† degli Studi di MILANO-BICOCCA
20             Universit√† degli Studi della BASILICATA
21                     Universit√† degli Studi di PARMA
22                   Universit√† degli Studi di BERGAMO
23            Universit√† degli Studi di MILANO-BICOCCA
24                     Universit√† degli Studi di PARMA
25                              Universit√† del SALENTO
26                   Universit√† degli Studi di SALERNO
27                                                 NaN
28                                  Universit√† di PISA
29          Universit√† degli Studi di ROMA La Sapienza
30                   Universit√† degli Studi di FERRARA
31                     Universit√† degli Studi di PARMA
32                   Universit√† degli Studi di FIRENZE
33     Universit√† Telematica Internazionale UNINETTUNO
34        Universit√† degli Studi di NAPOLI L'Orientale
35                     Universit√† degli Studi di PARMA
36                   Universit√† degli Studi di BOLOGNA
37                    Universit√† degli Studi di GENOVA
38                  Universit√† degli Studi di CAGLIARI
39                    Universit√† degli Studi di GENOVA
40                    Universit√† degli Studi di GENOVA
41         Universit√† degli Studi INSUBRIA Varese-Como
42                     Universit√† degli Studi di PARMA
43                    Universit√† degli Studi di MILANO
44                    Universit√† degli Studi di GENOVA
45                     Universit√† degli Studi di PARMA
46          Universit√† degli Studi di ROMA La Sapienza
47                   Universit√† degli Studi di FIRENZE
48                    Universit√† degli Studi di GENOVA
49                              Universit√† del SALENTO
Name: university, dtype: object

### 3 - Eliminazione delle righe che nonostante il merge presentano valori nulli nella colonna university

In [14]:
df_students = df_students[df_students['university'].notna()]
df_students.shape

(696, 89)

##Laureati

### 1- Sostituzione delle celle vuote con il valore 'Nan'

In [15]:
df_graduate=df_graduate.replace('',np.NaN)
df_graduate['university']=df_graduate['university'].replace('altro', np.NaN ) #per poter fare il merge tra due colonne
df_graduate.shape

(61, 85)

In [16]:
#TODO remove [fra]
df_graduate.isnull().sum() #codice di controllo

age                       2
gender                    3
hometown                  2
home_province             1
home_region               2
                         ..
redo_choice_why_class     3
expectations_class       21
expectations_no_class    53
change_why_class         60
decision_choice_class    14
Length: 85, dtype: int64

In [17]:
#TODO remove [fra]
df_graduate[['university', 'other_uni']].head(50) #codice di controllo

                                           university other_uni
0                     Universit√† degli Studi di PARMA       NaN
1                     Universit√† degli Studi di PARMA       NaN
2                     Universit√† degli Studi di PARMA       NaN
3                     Universit√† degli Studi di PARMA       NaN
4                    Universit√† degli Studi di VERONA       NaN
5    Universit√† degli Studi di MODENA e REGGIO EMILIA       NaN
6                     Universit√† degli Studi di PARMA       NaN
7        Universit√† degli Studi di NAPOLI Federico II       NaN
8                    Universit√† degli Studi di PADOVA       NaN
9         Universit√† degli Studi di ROMA Foro Italico       NaN
10   Universit√† degli Studi di MODENA e REGGIO EMILIA       NaN
11                                 Universit√† di PISA       NaN
12                    Universit√† degli Studi di PARMA       NaN
13         Universit√† degli Studi di ROMA La Sapienza       NaN
14                    Universit√† degli Studi di PARMA       NaN
15                   Universit√† degli Studi di VERONA       NaN
16                    Universit√† degli Studi di PARMA       NaN
17               Universit√† Cattolica del Sacro Cuore       NaN
18                  Universit√† degli Studi di BOLOGNA       NaN
19                   Universit√† degli Studi di MILANO       NaN
20  Libera Universit√† di lingue e comunicazione IU...       NaN
21                   Universit√† degli Studi di MILANO       NaN
22   Universit√† degli Studi di MODENA e REGGIO EMILIA       NaN
23                  Universit√† degli Studi di BERGAMO       NaN
24                  Universit√† degli Studi di TRIESTE       NaN
25           Universit√† degli Studi di MILANO-BICOCCA       NaN
26                    Universit√† degli Studi di PARMA       NaN
27                   Universit√† degli Studi di MILANO       NaN
28           Universit√† degli Studi di MILANO-BICOCCA       NaN
29           Universit√† degli Studi di MILANO-BICOCCA       NaN
30                              Politecnico di MILANO       NaN
31                   Universit√† degli Studi di MILANO       NaN
32  Universit√† degli Studi G d'Annunzio CHIETI-PES...       NaN
33                                 Universit√† di PISA       NaN
34  Universit√† degli Studi Internazionali di ROMA ...       NaN
35  Universit√† degli Studi Internazionali di ROMA ...       NaN
36                  Universit√† degli Studi di PALERMO       NaN
37                  Universit√† degli Studi di BOLOGNA       NaN
38                   Universit√† degli Studi di TRENTO       NaN
39                                                NaN     IUSVE
40                                                NaN     IUSVE
41                    Universit√† degli Studi di PARMA       NaN
42                   Universit√† degli Studi di PADOVA       NaN
43   Universit√† degli Studi di MODENA e REGGIO EMILIA       NaN
44                   Universit√† degli Studi di MILANO       NaN
45         Universit√† degli Studi di ROMA La Sapienza       NaN
46                                Politecnico di BARI       NaN
47                              Politecnico di TORINO       NaN
48         Universit√† degli Studi di ROMA La Sapienza       NaN
49                              Politecnico di MILANO       NaN

### 2- Merge tra colonna university e other_uni

In [18]:
df_graduate['university']=df_graduate['university'].combine_first(df_graduate['other_uni'])
#df_graduate['university'].head(50)

###3- Eliminazione delle righe che contengono ancora 'Nan' nella colonna university

In [19]:
df_graduate = df_graduate[df_graduate['university'].notna()]
df_graduate.shape

(57, 85)

#GESTIONE VALORI MANCANTI NELLA COLONNA CORSO DI LAUREA

In [20]:
#acronimi
slang_degree_course={"ctf":"chimica e tecnologie farmaceutiche",
       "clemi": "economia e marketing internazionale", 
       "sztpa": "scienze zootecniche e tecnologie delle produzioni animali", 
       "smid": "statistica matematica e trattamento informatico dati", 
       "clei": "economia internazionale",
       "clem": "economia e marketing", 
       "dams": "discipline delle arti della musica e dello spettacolo",
       "ctc": "chimica e tecnologie chimiche",
       "pmts": "planning management of tourism systems",
       "eifi":  "lingue moderne comunicazione cooperazione internazionale",
       "lms":  "letteratura musica spettacolo"
        }
#caratteri speciali
special_char=[',',"‚Äô","'",'<', '>', '.', '-', '_', '/', ': ', ' & ']

## Studenti

### Elimino righe che hanno valore nullo nel campo degree_course

In [21]:
df_students = df_students[df_students['degree_course'].notna()]
df_students.shape

(690, 89)

### Lavoro su una nuova colonna creata ad hoc

In [22]:
df_students['clean_degree_course']=df_students['degree_course']

###Pulisco i dati

In [23]:
#metto in minuscolo
df_students['clean_degree_course']=df_students['clean_degree_course'].apply(lambda x: x.lower())
#df_students['degree_course'].head(50)

####Riconoscimento della lingua...non funziona

In [24]:
#import langid
#langid.set_languages(['it', 'en'])  # ISO 639-1 codes
#def detect_language(text):
  #lang, score = langid.classify(text)
  #return lang
#df_students['language_degree_course']=df_students['clean_degree_course'].apply(lambda x: detect_language(x))
#df_students[['language_degree_course', 'clean_degree_course']][df_students['language_degree_course'].str.contains('en')]

In [25]:
for key in slang_degree_course.keys():
  df_students.loc[df_students['clean_degree_course'].str.contains(key), 'clean_degree_course'] = slang_degree_course[key]
#df_students[['clean_degree_course','degree_course']].head(50)

In [26]:
df_students.loc[df_students['clean_degree_course'].str.contains('medicina') & ~df_students['clean_degree_course'].str.contains('veterinaria'), 'clean_degree_course'] = 'medicina e chirurgia'
df_students.loc[df_students['clean_degree_course'].str.contains('informatica') & df_students['clean_degree_course'].str.contains('elettronica') & df_students['clean_degree_course'].str.contains('telecomunicazioni') , 'clean_degree_course'] = 'ingegneria informatica elettronica e telecomunicazioni'
df_students.loc[df_students['clean_degree_course'].str.contains('comunicazione e media per le industrie creative'), 'clean_degree_course'] = 'comunicazione e media contemporanei per le industrie creative'
df_students.loc[df_students['clean_degree_course'].str.contains('elettronica') & ~df_students['clean_degree_course'].str.contains('ingegneria' )& ~df_students['clean_degree_course'].str.contains('ing'), 'clean_degree_course'] = 'ingegneria elettronica'
df_students.loc[df_students['clean_degree_course'].str.contains('interfacce e tecnologie della comunicazion'), 'clean_degree_course'] = 'interfacce uomo macchina e tecnologie della comunicazione'
df_students.loc[df_students['clean_degree_course'].str.contains('letteratura musica e spettacolo'), 'clean_degree_course'] = 'letteratura musica e spettacolo'
#df_students['clean_degree_course']e

In [27]:
#eliminare i corso di laurea
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace('corso di laurea', '')

In [28]:
#rimozione di caratteri speciali
for i in range(0, len(special_char)):
  df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace(special_char[i], ' ')
#df_students['degree_course'].head(50)

In [29]:
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace(r'\sl.*[0-9]+', '') #lm19 , l-12
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace('ingegneria ', 'ing ')
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace('ingeneria ', 'ing ')
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace(' ciclo unico', '')
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace(r'\scurriculum\s.*', '')
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace(r'indirizzo.*', '')
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace(r'[(].*[)]*', '')
#df_students.loc[df_students['clean_degree_course'].str.contains(r'l.*[0-9]+'), 'clean_degree_course']

In [30]:
#eliminazione spazi bianchi prima e dopo una stringa
df_students['clean_degree_course']=df_students['clean_degree_course'].str.strip()
#df_students['degree_course'].head(50)

In [31]:
#elimino doppi spazi bianchi
df_students['clean_degree_course']=df_students['clean_degree_course'].str.replace('  ', ' ')

###Eliminazione stop words

In [32]:
# Split the sentences to lists of words.
df_students['clean_degree_course'] = df_students['clean_degree_course'].str.split()
df_students['clean_degree_course']

0                          [ing, aerospaziale]
1                     [economia, e, commercio]
2                     [medicina, e, chirurgia]
3                        [psicologia, clinica]
4                     [medicina, e, chirurgia]
                        ...
713                           [ing, biomedica]
714                      [scienze, biologiche]
715                              [informatica]
716                                   [fisica]
718    [chimica, e, tecnologie, farmaceutiche]
Name: clean_degree_course, Length: 690, dtype: object

In [33]:
stop_ita = stopwords.words('italian')
df_students['clean_degree_course']=df_students['clean_degree_course'].apply(lambda x: [item for item in x if item not in stop_ita])
#stop_ita

In [34]:
stop_en = stopwords.words('english')
df_students['clean_degree_course']=df_students['clean_degree_course'].apply(lambda x: [item for item in x if item not in stop_en])
#stop_en

###Estrazione della radice-stemming

In [35]:
#stemmer = ItalianStemmer()
#df_students['clean_degree_course'] = df_students['clean_degree_course'].apply(lambda x: [stemmer.stem(y) for y in x]) # Stem every word.
#df_students['clean_degree_course']

In [36]:
#Ricompongo le frasi
df_students['clean_degree_course']=df_students['clean_degree_course'].apply(' '.join)

In [57]:
#TODO remove fra (codice di prova)
df_students[['clean_degree_course','degree_course']].head(50)

                                  clean_degree_course                                      degree_course
0                                    ing aerospaziale                            ingegneria aerospaziale
1                                  economia commercio                               Economia e commercio
2                                  medicina chirurgia                                           Medicina
3                                  psicologia clinica                                 Psicologia clinica
4                                  medicina chirurgia                              Medicina e chirurgia
5                                     infermieristica                                   Infermieristica
6                montaggio cinematografico televisivo             Montaggio Cinematografico e Televisivo
7                   lingua cultura italiane stranieri            Lingua e cultura italiane per stranieri
8                               professioni sanitarie                              Professioni Sanitarie
9                                          matematica                                         Matematica
10                                  digital marketing                                 Digital Marketing
11                                 medicina chirurgia                              Medicina e chirurgia
12                                         ostetricia                                        Ostetricia
13                                          pedagogia                                         Pedagogia
14                                 economia commercio                               Economia e commercio
15                                   scienze storiche                                  Scienze storiche
16                                 medicina chirurgia                              Medicina e chirurgia
17                                 medicina chirurgia                               Medicina e Chirurgia
18                                 medicina chirurgia                               medicina e chirurgia
19                     scienze statistiche economiche                  Scienze Statistiche ed Economiche
20                    scienze tecnologie informatiche                  Scienze e tecnologie informatiche
21                                  scienze politiche                                 Scienze  politiche
22                                  turismo culturale                                 Turismo culturale
23                    scienze turismo comunit√† locale              Scienze del turismo e comunit√† locale
24                                 scienze economiche                                Scienze economiche
25                        scienze tecnologie ambiente               Scienze e tecnologie per l'ambiente
26                                     giurisprudenza                                    Giurisprudenza
28                           ing robotica automazione             ingegneria robotica e dell'automazione
29                          lettere musica spettacolo                        Lettere Musica e Spettacolo
30                        ing elettronica informatica               Ingegneria elettronica e informatica
31                                 medicina chirurgia                                          Medicina
32            lingue letterature studi interculturali         Lingue, letterature e studi interculturali
33               gestione impresa tecnologie digitali           gestione d'impresa e tecnologie digitali
34                           lingue culture comparate                         Lingue e culture comparate
35                                      biotecnologie                                      Biotecnologie
36                             mediazione linguistica                            Mediazione linguistica
37  statistica matematica trattamento informatico ...  Statistica matematica e trattamento informatic...
38                                          logopedia                                          Logopedia
39                                 scienze biologiche                                 Scienze Biologiche
40             economia management marittimo portuale          Economia e Management Marittimo Portuale
41                                economia management                              Economia e Management
42                                    ing informatica                             Ingegneria Informatica
43                                        informatica                                        Informatica
44                            design prodotto nautica               Design del prodotto e della nautica
45  scienze zootecniche tecnologie produzione animale  SCIENZE ZOOTECNICHE E TECNOLOGIE DELLA PRODUZI...
46                   artificial intelligence robotics               Artificial Intelligence and Robotics
47                      psicologia processi cognitivi                  Psicologia dei processi cognitivi
48                                  scienza materiali                             Scienza dei materiali
49                                      ing meccanica                               Ingegneria Meccanica
50                                 medicina chirurgia            Corso di laurea in medicina e chirurgia

In [38]:
degree_course=np.unique(df_students['clean_degree_course'])
print(len(degree_course))
print(degree_course)

246
['advanced sportscar manufacturing' 'amministrazione direzione aziendale'
 'amministrazione finanza' 'analisi processi sociali' 'archeologia'
 'architettura' 'arti scienze spettacolo'
 'artificial intelligence robotics' 'automation control engineering'
 'automazione industriale' 'banca finanza' 'beni artistici spettacolo'
 'beni culturali' 'beni culturali spettacolo' 'bioingegneria' 'biologia'
 'biologia ecologia marina' 'biologia molecolare'
 'biologia molecolare applicata nutrizione'
 'biologia sperimentale applicata' 'biomedical engineering'
 'bionanotecnologie' 'biotecnologie' 'biotecnologie mediche'
 'biotecnologie sicurezza qualit√† agro alimentare' 'chimica'
 'chimica clinica forense sport' 'chimica industriale'
 'chimica tecnologia farmaceutiche' 'chimica tecnologie chimiche'
 'chimica tecnologie farmaceutiche' 'civilt√† lingue straniere moderne'
 'computer science' 'comunicazione' 'comunicazione impresa risorse umane'
 'comunicazione media contemporanei industrie creative'
 'comunicazione media pubblicit√†' 'culture digitali comunicazione'
 'data science' 'design' 'design prodotto industriale'
 'design prodotto nautica' 'dietistica' 'digital marketing'
 'direzione consulenza impresa' 'direzione impresa' 'diritto economia'
 'diritto tecnologia' 'discipline arti musica spettacolo'
 'ecologia etologia conservazione natura' 'economia'
 'economia amministrazione imprese' 'economia aziendale'
 'economia circolare' 'economia commercio' 'economia finanza'
 'economia gestione aziendale' 'economia internazionale'
 'economia management' 'economia management marittimo portuale'
 'economia management nuove tecnologie digitali' 'economia marketing'
 'economia marketing internazionale' 'economia marketing management'
 'economia mercati digitali' 'economia mercati istituzioni'
 'economics innovation' 'economics markets finance' 'econom√≠a management'
 'electronic communications engineering' 'farmacia' 'filologia'
 'filologia moderna' 'filosofia' 'finanza' 'finanza gestione rischio'
 'finanza risk management' 'fisica' 'fisica materia materiali funzionali'
 'food system' 'general management' 'gestione aziendale'
 'gestione impresa tecnologie digitali' 'gestione territorio'
 'giurisprudenza' 'igiene dentale' 'infermieristica' 'informatica' 'ing'
 'ing aerospaziale' 'ing ambientale' 'ing biomeccanica' 'ing biomedica'
 'ing chimica materiali' 'ing civile' 'ing civile ambientale'
 'ing civile ambientale edile' 'ing edile architettura'
 'ing edile costruzioni' 'ing elettrica' 'ing elettronica'
 'ing elettronica informatica' 'ing elettronica telecomunicazioni'
 'ing energia' 'ing gestionale' 'ing informatica'
 'ing informatica comunicazioni elettronica'
 'ing informatica elettronica telecomunicazioni'
 'ing informatica robotics' 'ing informazione' 'ing materiali'
 'ing meccanica' 'ing meccanica prodotto' 'ing medica'
 'ing robotica automazione' 'ing sistemi informativi'
 'ing tecnologie salute' 'ing veicolo'
 'intercultural studies languages literatures'
 'interfacce uomo macchina tecnologie comunicazione'
 'international business development' 'letteratura musica spettacolo'
 'lettere' 'lettere moderne' 'lettere musica spettacolo'
 'libera professione' 'lingua cultura italiane stranieri'
 'lingua cultura letteratura traduzione' 'lingue'
 'lingue comunicazione interculturale impresa'
 'lingue comunicazione internazionale' 'lingue culture comparate'
 'lingue culture editoria' 'lingue culture europee'
 'lingue culture moderne' 'lingue culture turismo' 'lingue impresa'
 'lingue letterature culture straniere'
 'lingue letterature mediazione culturale' 'lingue letterature straniere'
 'lingue letterature straniere moderne'
 'lingue letterature studi interculturali'
 'lingue moderne comunicazione cooperazione internazionale'
 'lingue orientali' 'lingue straniere comunicazione internazionale'
 'logopedia' 'management' 'management impresa'
 'management sostenibilit√† ambientale economia circolare'
 'management turismo sport eventi' 'marketing internazionale'
 'marketing management' 'marketing organizzazione impresa' 'matematica'
 'matematica ingegneria' 'meccanica' 'mechanical engineering'
 'mediazione interlinguistica interculturale' 'mediazione linguistica'
 'mediazione linguistica interculturale' 'mediazioni linguistiche'
 'medicina chirurgia' 'montaggio cinematografico televisivo'
 'music engineering' 'odontoiatria protesi dentaria'
 'operatore culturale turismo' 'ostetricia' 'pedagogia'
 'planning management tourism systems' 'professioni contabili'
 'professioni sanitarie' 'progettazione gestione turismo culturale'
 'programmazione gestione servizi sociali'
 'psicobiologia neuroscienze cognitive' 'psicologia' 'psicologia clinica'
 'psicologia intervento clinico sociale' 'psicologia processi cognitivi'
 'racing car design' 'scienza materiali' 'scienze ambientali'
 'scienze ambiente natura' 'scienze antropologiche etnologiche'
 'scienze archeologiche' 'scienze architettura' 'scienze biologiche'
 'scienze comunicazione' 'scienze economiche' 'scienze educazione'
 'scienze educazione formazione' 'scienze educazione formazione primaria'
 'scienze educazione permanente formazione continua'
 'scienze educazione processi formativi' 'scienze eduzazione'
 'scienze filosofiche' 'scienze formazione primaria'
 'scienze gastronomiche' 'scienze geologiche'
 'scienze giuridiche impresa pubbliche amministrazioni'
 'scienze infermieristiche' 'scienze materiali' 'scienze motorie'
 'scienze motorie attivit√† fisica preventiva adattata'
 'scienze natura ambiente' 'scienze naturali' 'scienze pedagogiche'
 'scienze politiche' 'scienze politiche relazioni internazionali'
 'scienze politiche relazioni internazionali diritti umani'
 'scienze politiche sociali internazionali'
 'scienze prodotti erboristici salute' 'scienze psicogiche'
 'scienze psicologiche' 'scienze psicologiche formazione'
 'scienze statistiche economiche' 'scienze storiche'
 'scienze tecniche attivit√† motoria preventiva adattata'
 'scienze tecniche attivit√† motorie preventive adattate'
 'scienze tecniche psicologicamente' 'scienze tecniche psicologiche'
 'scienze tecnologie alimentari' 'scienze tecnologie ambiente'
 'scienze tecnologie informatiche' 'scienze turismo comunit√† locale'
 'scienze zootecniche produzioni animali'
 'scienze zootecniche tecnologiche produzioni animali'
 'scienze zootecniche tecnologie produzione animale'
 'scienze zootecniche tecnologie produzioni animali' 'servizio sociale'
 'sociologia' 'statistica economia impresa' 'statistica gestionale'
 'statistica matematica trattamento informatico dati' 'storia'
 'storia beni culturali' 'storia tutela beni artistici musicali'
 'studi filosofici' 'tecniche edilizia'
 'tecniche prevenzione ambiente luoghi lavoro'
 'tecniche radiologia immagini radioterapia' 'tecnologie agrarie'
 'tecnologie salute' 'teoria tecnologia comunicazione'
 'trade consumer marketing' 'traduzione specialistica' 'turismo culturale']

#UNIONE UNIVERSITA'-LAUREA

In [39]:
#TODO: remove francesca
#df_students['uni-course'] = df_students['university'].str.cat(df_students['degree_course'],sep=" ")
#df_students['uni-course']

In [40]:
#df_graduate['uni-course'] = df_graduate['university'].str.cat(df_graduate['degree_course'],sep=" ")
#df_graduate['uni-course']

#DATI TRIENNALE E MAGISTRALE CICLO UNICO

<p>Selezionare le righe secondo una determinata condizione</p>
<a href="https://chrisalbon.com/python/data_wrangling/pandas_selecting_rows_on_conditions/"> https://chrisalbon.com/python/data_wrangling/pandas_selecting_rows_on_conditions/</a>

In [59]:
df_students_first_degree = df_students.query('study_type == "Triennale" | study_type == "Magistrale_unico"')
#df_students_first_degree.isnull().sum()
df_students_first_degree.shape
#df_students_first_degree

(552, 90)

In [42]:
df_graduate_first_degree = df_graduate.query('study_type == "Triennale" | study_type == "Magistrale_unico"')
#df_graduate_first_degree
df_graduate_first_degree.shape

(27, 85)

# DATI MAGISTRALI

In [43]:
df_students_second_degree = df_students.query('study_type == "Magistrale"')
#df_students_second_degree
df_students_second_degree.shape

(138, 90)

In [44]:
df_graduate_second_degree = df_graduate.query('study_type == "Magistrale"')
#df_graduate_second_degree
df_graduate_second_degree.shape

(30, 85)

# ANALISI SCUOLA SUPERIORE -TODO

##Preparazione dataset

Queste righe di codice mi permettono di selezionare solo le colonne che ci interessano per l analisi e unire 2 dataframe. Devo fare cos√¨ in quanto gli studenti e i laureati non hanno lo stesso numero di colonne e quindi non possono essere uniti insieme

In [45]:
#Selezionare da colonna a colonna tutti le righe
#df_students_second_degree.loc['degree_course':'study_type']

In [46]:
#selezionare da solo determinate colonne
df_high_school_analysis=df_students_first_degree[['university','degree_course','high_school']]
df_high_school_analysis

                                       university  ...                   high_school
0                           Politecnico di MILANO  ...             Liceo Scientifico
1    Universit√† degli Studi di NAPOLI Federico II  ...             Liceo Scientifico
2      Universit√† degli Studi di ROMA La Sapienza  ...                Liceo Classico
4              Universit√† degli Studi di CAGLIARI  ...                Liceo Classico
5                 Universit√† degli Studi di PARMA  ...                Liceo Classico
..                                            ...  ...                           ...
713              Universit√† degli Studi di GENOVA  ...  Istituto tecnico industriale
714             Universit√† degli Studi di PERUGIA  ...             Liceo Linguistico
715    Universit√† degli Studi di ROMA La Sapienza  ...                         altro
716               Universit√† degli Studi di PARMA  ...                Liceo Classico
718                            Universit√† di PISA  ...             Liceo Scientifico

[552 rows x 3 columns]

In [47]:
df_high_school_analysis.append(df_graduate_first_degree[['university','degree_course','high_school']])

                                           university  ...                 high_school
0                               Politecnico di MILANO  ...           Liceo Scientifico
1        Universit√† degli Studi di NAPOLI Federico II  ...           Liceo Scientifico
2          Universit√† degli Studi di ROMA La Sapienza  ...              Liceo Classico
4                  Universit√† degli Studi di CAGLIARI  ...              Liceo Classico
5                     Universit√† degli Studi di PARMA  ...              Liceo Classico
..                                                ...  ...                         ...
52                    Universit√† degli Studi di PAVIA  ...   Istituto tecnico geometri
54         Universit√† degli Studi di ROMA La Sapienza  ...           Liceo Scientifico
57  Libera Universit√† Vita Salute San Raffaele MILANO  ...  Istituto tecnico economico
58                   Universit√† degli Studi di GENOVA  ...           Liceo Scientifico
60                 Universit√† degli Studi di CAGLIARI  ...                       IPSIA

[579 rows x 3 columns]

#ANALISI MATERIE -TODO

##Preparazione dataset

In [48]:
#seleziono le colonne che mi servono
df_subject_area_analysis=df_students_first_degree[['university','degree_course','subject_area']]
df_subject_area_analysis

                                       university  ...                                       subject_area
0                           Politecnico di MILANO  ...                        Matematica,meccanica,fisica
1    Universit√† degli Studi di NAPOLI Federico II  ...                                   economia,diritto
2      Universit√† degli Studi di ROMA La Sapienza  ...                    Anatomia, fisiologia, patologia
4              Universit√† degli Studi di CAGLIARI  ...                              Anatomia, patologia,
5                 Universit√† degli Studi di PARMA  ...  Anatomia, biochimica, fisiologia, patologia, f...
..                                            ...  ...                                                ...
713              Universit√† degli Studi di GENOVA  ...                 Fisiologia, elettronica, meccanica
714             Universit√† degli Studi di PERUGIA  ...  Matematica,chimica organica,chimica inorganica...
715    Universit√† degli Studi di ROMA La Sapienza  ...                         Algoritmi, programmazione
716               Universit√† degli Studi di PARMA  ...                                  Matematica,fisica
718                            Universit√† di PISA  ...  Chimica farmaceutica, chimica organica, farmac...

[552 rows x 3 columns]

In [49]:
df_subject_area_analysis=df_subject_area_analysis.append(df_graduate_first_degree[['university','degree_course','subject_area']])

##Gestione valori mancanti: da rivedere

 Blocco con rientro

In [50]:
#numero di colonne con valori mancanti
print("Columns with Missing Values:",df_subject_area_analysis.columns[df_subject_area_analysis.isnull().any()].tolist())

Columns with Missing Values: ['subject_area']

In [51]:
#numero di righe con valori mancanti
print("Number of rows with Missing Values::",df_subject_area_analysis.isnull().any(axis = 1).sum()) #???

Number of rows with Missing Values:: 14

In [52]:
#stampa le righe con valori mancanti
null_data = df_subject_area_analysis[df_subject_area_analysis.isnull().any(axis=1)]
null_data

                                           university  ... subject_area
71                 Universit√† degli Studi di CAGLIARI  ...          NaN
126          Universit√† degli Studi di MILANO-BICOCCA  ...          NaN
309                   Universit√† degli Studi di PARMA  ...          NaN
372  Universit√† degli Studi di MODENA e REGGIO EMILIA  ...          NaN
396                Universit√† degli Studi di CAGLIARI  ...          NaN
412  Universit√† degli Studi di MODENA e REGGIO EMILIA  ...          NaN
523                  Universit√† degli Studi di GENOVA  ...          NaN
571                   Universit√† degli Studi di PARMA  ...          NaN
585                Universit√† degli Studi di CAGLIARI  ...          NaN
623                   Universit√† degli Studi di PARMA  ...          NaN
635                  Universit√† degli Studi di PADOVA  ...          NaN
638                   Universit√† degli Studi di PARMA  ...          NaN
8                    Universit√† degli Studi di PADOVA  ...          NaN
16                    Universit√† degli Studi di PARMA  ...          NaN

[14 rows x 3 columns]

In [53]:
#university = np.unique(df_subject_area_analysis['university'])
#print("Universit√† presenti:", len(university))
#print(university)

https://pythoninoffice.com/use-fuzzy-string-matching-in-pandas/
https://stackoverflow.com/questions/13636848/is-it-possible-to-do-fuzzy-match-merge-with-python-pandas
https://www.youtube.com/watch?v=uxHnMG1Jz00
https://towardsdatascience.com/fuzzywuzzy-find-similar-strings-within-one-column-in-a-pandas-data-frame-99f6c2a0c212

In [54]:
#!pip install fuzzywuzzy
#from fuzzywuzzy import fuzz
#from fuzzywuzzy import process
#df_subject_area_analysis_1 =df_subject_area_analysis.copy()
#df_subject_area_analysis_1
#matches= df_subject_area_analysis['degree_course'].apply(lambda x: process.extractOne(x, df_subject_area_analysis_1['degree_course'].to_list(),score_cutoff=80))
#df_subject_area_analysis[['degree_course']]

In [55]:
#df=pd.DataFrame(list(matches), columns=['degree', 'match'])
#df

In [56]:
#df_subject_area_analysis['degree_course']=df['degree']
#df_subject_area_analysis['degree_course']

https://stackoverflow.com/questions/49716597/group-similar-words-sentences-in-pandas-column